<div class="container">
  <div class="hero-unit">

    <h2 class="lead">Here is your profile: <%= @user.user_name %>:</h2>

      <p class="lead">First Name: <%= @user.first_name %></p>
      <p class="lead">Last Name: <%= @user.last_name %></p>
      <p class="lead">Birthday: <%= @user.birthday %></p>
      <p class="lead">Email: <%= @user.email %></p>
      <a href="/logout" class="btn btn-primary btn-large lead">Log Out</a>
      <a href="/new" class="btn btn-primary btn-large lead">Create Post!</a>
      <a href="/blogpage" class="btn btn-primary btn-large lead">Go to see some posts!</a>
</div>
</div>
